<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 	Rek Bank yang dituju  <span class="vfb-required-asterisk"> </span></label>
 	<select name="vfb-11" id="vfb-11" class="vfb-select  vfb-medium  required ">
 		<option value="Mandiri Syariah 706 6116 616">Mandiri Syariah 706 6116 616</option>
 		<option value="Mandiri 131 001 0933 135">Mandiri 131 001 0933 135</option>
 		<option value="Bank Muamalat 10 8000 5817">Bank Muamalat 10 8000 5817</option>
 		<option value="BCA 4373333151">BCA 4373333151</option>
 		<option value="BRI Syariah 102 1055 324">BRI Syariah 102 1055 324</option>
 	    </select></li><li class="vfb-item vfb-item-select  " id="item-vfb-14">
</body>
</html>
