<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<!-- Modal Edit user -->

         <form action="/pre_transaksi_/edit/<%= id %>" method="post" name="form1">
	          <div class="form-group">
	            <label for="id_cpg" class="control-label">ID campaignn:</label>
	             <input type="text" class="form-control" id="id_cpg" placeholder="ID campaign" name="id_cpg" ></
	          </div>
	          <div class="form-group">
	            <label for="id_rek_tujuan" class="control-label">Rek. Tujuan : <span class="vfb-required-asterisk"> </span></label>
				 	<select name="id_rek_tujuan" id="id_rek_tujuan" class="vfb-select  vfb-medium  required ">
				 		<option value="1">BRI Syariah 105 79 35 628</option>
				 		<option value="2">Mandiri Syariah 706 6116 561</option>
				   </select> </
	          </div>
	          <div class="form-group">
	            <label for="jum_donasi" class="control-label">Jumlah Donasi:</label>
	             <input type="text" class="form-control" id="jum_donasi" placeholder="nominal donasi" name="jum_donasi" ></
	          </div>
	          <div class="form-group">
	            <label for="tanggal" class="control-label">Tanggal :</label>
	            <input type="date" class="form-control" name="tanggal" id="tanggal" placeholder="Tanggal"/></
	          </div>
	      
        <input type="submit" name="Submit" value="Save Change" class="btn btn-primary"/>
        <input type="hidden" name="_method" value="PUT" />
 </form>

 